* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(53, 60, 61);

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 15px;
}

@media screen and (min-width: 700px) {
    .sectionFloat {
        width: 50%;
        float: left;
        padding: 15px;
    }
   
}

label {
    font-weight: bold;
    display: block;
}

form div {
    padding: 10px 0;
  }
  
  form {
    max-width: 400px;
    background: lavender;
    padding: 10px;
    text-align: left;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }
  
  button[type="submit"] {
    color:olive;
  }
  
  button[type="reset"] {
    color: maroon;
  }
  
  .correct {
    background-color: lightgreen;
  }
  
  .incorrect {
    background-color: pink;
  }
  
  .hidden {
    display: none;
  }